@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(images/bg-pattern-top.svg) no-repeat,
    url(images/bg-pattern-bottom.svg) no-repeat;
  background-color: hsl(185, 75%, 39%);
  background-position: -40% 200%, 120% -190%;
}

.card {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 355px;
  height: 390px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
}

.card-head {
  background: url(/images/bg-pattern-card.svg);
  width: 100%;
  display: flex;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 150px;
}

.profile-pic {
  border-radius: 50%;
  border: 5px solid white;
  height: 100px;
  width: 100px;
  display: block;
  margin-top: 100px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile h1 {
  font-size: 20px;
  padding-bottom: 15px;
  margin-top: 40px;
}

span {
  color: hsl(229, 23%, 23%);
  font-weight: 400;
}

.profile p {
  color: hsl(229, 23%, 23%);
}

.metrics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 1px solid hsl(0, 0%, 59%);
  padding: 15px;
}

.stat-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 5px;
  margin-top: 5px;
}

.stat-group h2 {
  padding-bottom: 7px;
}

.stat-group p {
  margin-top: 2px;
  font-size: 10px;
}
